# Load Xresources
xrdb -load ~/.Xresources

# Show dashboard on startup
touch /tmp/awesomewm-show-dashboard
#
# Show lockscreen on startup
touch /tmp/awesomewm-show-lockscreen

# Start compositor
picom --experimental-backends --config ~/.config/picom/picom.conf &

# Start Gnome Polkit authenticator
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Start Redshift
redshift &

# Start nm-applet
nm-applet &

# Start blueman-applet
blueman-applet &

# Start pasystray
pasystray &
